// main style
p{
    margin: 0;
}

body{
    box-sizing: border-box;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

.titleSection{
    padding: 0 40px;
    padding-top: 20px;
    padding-bottom: 8px;
    font-family: 'PT Serif', serif;
    font-size: 50px;
    color: white;
    text-align: center;
    letter-spacing: 4px;
    border-bottom: 1px solid #fff;

    @media (max-width: 600px){
        padding: 0 10px;
        padding-bottom: 8px;
        font-size: 39px;
    }
}

// navigation panel

.navbar{
    background-color: #ffffffea;

    @media (max-width: 360px){
        padding: 10px 40px !important;
        padding-right: 10px !important;
    }
}

@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');

.navbar-brand{
    padding-right: 40px;
    font-family: 'Bad Script', cursive;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2px;
    transition: .6s;

    @media (max-width: 360px){
        padding-right: 0;
    }
}

@import url('https://fonts.googleapis.com/css?family=Bad+Script|Open+Sans&display=swap');

.nav-link{
    padding-top: 20px;
    margin: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black !important;
}

.navbar-text{
    padding: 0;

    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        color: black;

        img{
            margin-right: 5px;
        }
    }

    p:last-child{
        margin-top: 10px;
    }
}

.navbarMini{
    padding: 5px 38px;

    a{
        padding-right: 10px;
        font-size: 20px;
    }

    .nav-link{
        padding-top: 10px;
        font-size: 18px;
    }

    .navbar-text{
        p:last-child{
            display: none;
        }
    }
}

// header

header{
    min-height: 100vh;
    background: url('../img/mainFon.jpg');
    background-size: cover;
}

.mainSection{
    h1{
        font-family: 'PT Serif', serif;
        font-size: 70px;
        color: white;
        text-align: center;
        letter-spacing: 3px;

        @media (max-width: 600px){
            font-size: 30px;
        }
    }

    .row div{
        @media (max-width: 600px){
            padding-right: 15px !important;
            padding-left: 15px !important;
        }
    }

    .mainSection__text{
        margin-bottom: 15px;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        color: white;
        letter-spacing: 1px;
    }
}

// header

// main (sections)

.serviceIcon{
    box-sizing: border-box;
    padding: 20px 0 50px;
    background: url('../img/serviceFon.jpg');

    &__service{
        @media (max-width: 760px){
            justify-content: center !important;
        }

        div{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0;
            margin: 0 40px;
            overflow: hidden;
            text-align: center;
            cursor: pointer;
            background-color: white;
            border-radius: 25px;
            box-shadow: 0 0 5px 0 rgba(248, 248, 248, .75);
            transition: .6s;

            @media (max-width: 1190px){
                width: 40%;
                margin: 15px;
            }

            @media (max-width: 760px){
                width: 70%;
                margin: 15px 0;
            }

            &:hover{
                box-shadow: 0 0 20px 0 rgba(248, 248, 248, .75);
            }

            .textService{
                padding: 10px;
                margin: auto;
                font-size: 24px;
                font-weight: 500;
                color: black;
            }

            img{
                width: 100%;
                box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .75);
            }

            a{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.aboutUs{
    background: url('../img/fonAboutUs.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.info-AboutUs{
    display: flex;
    flex-direction: column;

    h2{
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    p{
        margin-bottom: 20px;
        font-size: 19px;
        color: white;
    }

    h4{
        padding-top: 15px;
        padding-bottom: 7px;
        font-size: 32px;
        font-weight: 700;
        color: white;
    }

    ul{
        padding-left: 20px;
        list-style: none;

        li{
            font-size: 19px;
            color: white;

            &::before{
                content: '— ';
            }
        }
    }
}

.serviceSection{
    .subtitleService{
        font-size: 40px;
        color: white;

        @media (max-width: 350px){
            font-size: 30px;
        }
    }

    ul{
        margin: 30px 0;

        @media (max-width: 770px) {
            padding: 0;
        }

        li{
            padding: 3px 0;
            font-size: 20px;
            color: white;
            list-style: none;

            &::before{
                content: '— ';
            }
        }
    }

    .row:first-child{
        justify-content: center;
    }

    .service1{
        background-color: #131313;
    }

    .service2{
        background-color: #1b1b1b;
    }
}

// main (sections)

// footer
.footerMap{
    position: relative;
    z-index: 2;

    &-info{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 25px;
        background-color: rgba(12, 12, 12, .808);

        @media (max-width: 600px){
            padding: 0;
        }

        h4{
            margin: 0 auto;
            font-size: 40px;
            color: white;
            letter-spacing: 2px;

            @media (max-width: 600px){
                padding-top: 10px;
                font-size: 20px;
                letter-spacing: 0;
            }
        }

        &__contact{
            padding-top: 20px;

            div{
                text-align: center;

                @media (max-width: 600px){
                    padding: 0;
                }

                p{
                    font-size: 20px;
                    color: white;
                }

                p:first-child{
                    display: inline;
                    padding: 0 10px 3px;
                    font-size: 30px;
                    font-weight: 600;
                    color: white;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
}

.showMap{
    padding: 10px 40px;
    margin: 50px auto 0;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 0 5px 0 rgba(253, 253, 253, .1);
    transition: .6s;

    &:hover{
        box-shadow: 0 0 12px 0 rgba(253, 253, 253, .75);
    }
}
